.navber{
    background-color: #e3f2fd;

}
.header .image{
    width: 50px;
}
.carousel-item img{
    height: 450px;
}
.header2 .page {
    padding: 14px 0 14px 20px;
    border-radius: 8px;
}
.group1{
    color: #007bff;
}
.group1:hover{
    text-decoration: underline;
}
.scroll{
    height: 150px;
    overflow-y: scroll;
    position: relative;
}
.page-no {
    position: relative;
    top: 0px;
    left: 35%;
}
footer{
    padding: 18px;

}
